.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 730px;
    font-family: Arial, Helvetica, sans-serif;
}
.border-flex{

}
.header{
    display: flex;
    justify-content: flex-end;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
}
.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    display: flex;
}
.right{
    display: flex;
}
.bloc1{
    margin-right: 10px;
}
.bloc2{
    margin-bottom: 30px;
}
.bloc2 input{
    border: 1.2px solid #7A7A7A;
    border-radius: 30px;
    border-color: #F2F2F2;
    width: 550px;
    height: 40px;
}
.bloc3 a{
    color: #7A7A7A;
    margin-right: 15px;
}
.bloc2 button{
    background-color: #F2F2F2;
    margin-right: 12px;
    border-style: none;
    border-radius: 4px;
    height: 35px;
    width: 150px;
}
